@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <h1>Welcome to TopTutor!</h1>
                    <p>Ready to take your learning to the next level? Join TopTutor today and connect with expert tutors who can help you achieve your academic goals. Whether you need help with math, science, language arts, or any other subject, we've got you covered. Don't let learning obstacles hold you back - let's work together to unlock your full potential!</p>
                    <a  id="register" href="/Identity/Account/Register" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="~/img/tutor_intro.gif" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


    <!-- ======= Tutors Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Our Tutors</h2>
                <p>Discover the expertise of our tutors who have studied at some of the most prestigious universities in the world. From Harvard to Yale to MIT and beyond, our tutors bring unparalleled knowledge and experience to every tutoring session.</p>
            </div>

            <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo" data-aos="zoom-in">
                        <img src="~/img/client1.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo" data-aos="zoom-in" data-aos-delay="100">
                        <img src="~/img/client2.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo" data-aos="zoom-in" data-aos-delay="150">
                        <img src="~/img/client3.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo" data-aos="zoom-in" data-aos-delay="200">
                        <img src="~/img/client4.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo" data-aos="zoom-in" data-aos-delay="250">
                        <img src="~/img/client5.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo" data-aos="zoom-in" data-aos-delay="300">
                        <img src="~/img/client6.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                        <img src="~/img/client7.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="client-logo">
                        <img src="~/img/client8.png" class="img-fluid" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item" data-aos="fade-up">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                            <h4>Personalized Online Tutoring</h4>
                            <p>Experience tailored online tutoring sessions designed to meet your learning needs.</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            <h4>Expert Tech Support</h4>
                            <p>Get immediate assistance for technical issues with our dedicated tech support team.</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                            <h4>Collaborative Problem-Solving</h4>
                            <p>Engage in collaborative problem-solving sessions with skilled tutors and peers.</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <figure>
                            <img src="~/img/1.gif" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <figure>
                            <img src="~/img/2.gif" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <figure>
                            <img src="~/img/3.gif" alt="" class="img-fluid">
                        </figure>
                    </div>>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->
<!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Frequently Asked Questions</h2>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is TopTutor and who developed it? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            TopTutor is a platform developed in 2024 as part of a college course in visual programming. It was created by João Damaso, Miguel Calha, and Marcos Jesus. The platform is designed to help users find the best tutors in various subjects. It is completely free to use, and TopTutor acts as an intermediary for payments between users and tutors.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How does TopTutor work? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            TopTutor connects students with expert tutors in a wide range of subjects. Users can browse through tutor listings, view detailed profiles, and schedule tutoring sessions directly through the platform. TopTutor facilitates the payment process between users and tutors, ensuring a seamless and secure transaction experience.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Is TopTutor free to use? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Yes, TopTutor is completely free for users to use. There are no subscription fees or hidden charges. Users can browse tutors, schedule sessions, and make payments without any additional costs.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How can I become a TopTutor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                        Becoming a TopTutor is a rigorous process that ensures we maintain the highest standards of quality and expertise. To embark on your journey to becoming a TopTutor, simply send all your pertinent information to becoming@toptutor.com. Our dedicated team will meticulously review your qualifications, credentials, and expertise to determine if you have what it takes to join our elite ranks.

                        At TopTutor, we pride ourselves on curating a select group of tutors who excel in their respective fields and are passionate about helping students succeed. Only the best tutors who demonstrate exceptional knowledge, dedication, and professionalism will be selected to be featured on our website.
                    </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How do payments work on TopTutor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            TopTutor facilitates payments between users and tutors through a secure payment gateway. Users can add payment details to their account and make payments for tutoring sessions directly through the platform. TopTutor ensures that all transactions are safe, secure, and hassle-free.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How can I contact TopTutor for support? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            If you have any questions, concerns, or feedback, you can contact TopTutor's customer support team through the contact form on our website. Our team is dedicated to providing assistance and ensuring that your experience on TopTutor is positive and enjoyable.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

