@model Product

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 my-4">
        <div class="row pb-2">
            <h2 class="text-bg-danger-primary">Edit Product</h2>
            <hr />
        </div>
        @* <div asp-validation-summary="ModelOnly"></div>*@
        <div class="mb-3 row">
            <label asp-for="Title"></label>
            <input asp-for="Title" type="text" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Description" class="p-0"></label>
            <textarea asp-for="Description" type="text" class="form-control" /></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="TutorName" class="p-0"></label>
            <input asp-for="TutorName" type="text" class="form-control" />
            <span asp-validation-for="TutorName" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="ListPrice" class="p-0"></label>
            <input asp-for="ListPrice" type="text" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

